/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/*
 * This preprocessor is a ZMK macro generator.
 * Its abbreviated name `LMOD` stands for "Activate a layer (e.g. `&mo 1`) and auto-hold some modifier keys (e.g. `LEFT_SHIFT`)".
 * You can use it for momentary layer switches with automatically pressed modifier keys.
 * @param {int} layer - Index of the layer that wants to be toggled.
 * @param {int=0} mods - A bit field of modifiers that wants to be held down, for example, `(MOD_LSFT|MOD_RSFT|MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI)`. Pass `0` to toggle the layer without any modifiers.
 * @param {string} name - The reference name for the ZMK macro which will be used for mappings, for example, name `left_shift` would become a callable reference `&left_shift` inside of keymap bindings.
 */
#define LMOD(layer, mods, name) \
    name: macro_##name { \
        label = #name; \
        compatible = "zmk,behavior-macro"; \
        wait-ms = <0>; \
        #binding-cells = <0>; \
        bindings = \
            <&macro_press &mo layer &kp mods>, \
            <&macro_pause_for_release>, \
            <&macro_release &mo layer &kp mods>; \
    };

&mt {
    tapping-term-ms = <180>;
    quick-tap-ms = <180>;
};

/ {
    macros {
        #include "version.dtsi"
        LMOD(0, LALT, malt)
        LMOD(0, LGUI, mgui)
        LMOD(0, LCTRL, mctrl)
    };

    behaviors {
        layer: behavior_layer_toggle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&tog>;
            tapping-term-ms = <175>;
            flavor = "hold-preferred";
        };

        media: macro_media_playback_controls {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp C_PLAY_PAUSE>, <&kp C_NEXT>, <&kp C_PREV>;
            tapping-term-ms = <225>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &none        &none        &none        &none        &none           &none        &none                                                                                                                                                         &none               &none        &none           &none            &none          &none            &none
                &none        &none        &kp W        &kp E        &kp R           &kp F        &kp C_BRI_DN                                                                                                                                                  &kp C_BRI_UP        &kp Y        &kp U           &kp I            &kp O          &none            &none
                &none        &kp A        &kp S        &kp D        &kp T           &kp G        &kp C_VOL_DN                         &mt LALT DELETE        &none               &none               &mt RALT BACKSPACE                                        &kp C_VOL_UP        &kp H        &kp N           &mt Q K          &kp L          &kp P            &none
                &none        &kp Z        &kp X        &kp C        &kp V           &kp B                                                                    &kp LCTRL           &kp RCTRL                                                                                         &kp J        &kp M           &kp COMMA        &kp DOT        &kp SLASH        &none
                &none        &none        &none        &none        &kp LCMD                                         &kp SPACE        &mt LSHIFT TAB         &mt LCMD ESC        &mt RCMD ESC        &mt RSHIFT RETURN         &layer 1 1                                                       &kp LEFT        &kp DOWN         &kp UP         &kp RIGHT        &none
            >;
        };

        default_layer_2 {
            bindings = <
                &none        &none               &none               &none              &none               &none               &none                                                                                                                   &none         &none               &none               &none               &none               &none               &none
                &none        &none               &none               &none              &none               &none               &none                                                                                                                   &none         &none               &none               &none               &none               &none               &none
                &none        &mt F1 N1           &mt F2 N2           &mt F3 N3          &mt F4 N4           &mt F5 N5           &mt F6 0                       &none         &none           &none            &kp BACKSPACE                             &mt F7 0      &mt F8 N6           &mt F9 N7           &mt F10 N8          &mt F11 N9          &mt F12 N0          &none
                &none        &none               &none               &kp C              &kp V               &none                                                            &none           &none                                                                    &none               &none               &kp COMMA           &kp DOT             &none               &none
                &none        &none               &none               &none              &none                                                 &mkp MB1         &media        &kp ESC         &kp ESC          &kp LCTRL             &tog 1                                                &none               &none               &none               &none               &none
            >;
        };
    };
};
