/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
        #include "version.dtsi"
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
  &none   &none   &none   &none     &none   &none                &none                                                                                    &none   &none     &none      &none    &none      &none   &none
  &none   &none   &kp W   &kp E     &kp R   &kp F                &none                                                                                    &none   &kp Y     &kp U      &kp I    &kp O      &none   &none
  &none   &kp A   &kp S   &kp D     &kp T   &kp G                &none  &mt LALT DELETE         &none                         &none  &mt RALT BACKSPACE   &none   &kp H     &kp N    &mt Q K    &kp L      &kp P   &none
  &none   &kp Z   &kp X   &kp C     &kp V   &kp B                                           &kp LCTRL                     &kp RCTRL                               &kp J     &kp M  &kp COMMA  &kp DOT  &kp MINUS   &none
  &none   &none   &none   &none  &kp LCMD                    &kp SPACE   &mt LSHIFT TAB  &mt LCMD ESC                  &mt RCMD ESC   &mt RSHIFT RETURN   &mo 1          &kp LEFT   &kp DOWN   &kp UP  &kp RIGHT   &none
            >;
        };
        layer_fn {
            bindings = <
 &trans        &trans        &trans        &trans        &trans        &trans                      &trans                                                          &trans        &trans        &trans        &trans        &trans        &trans  &trans
 &trans        &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                      &kp F6                                                          &kp F7        &kp F8        &kp F9       &kp F10       &kp F11       &kp F12  &trans
 &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                      &trans  &kp C_PREVIOUS  &trans                  &trans  &trans  &trans  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
 &trans        &trans        &trans        &trans        &trans        &trans                                              &trans                  &trans                        &trans        &trans        &trans        &trans        &trans  &trans
 &trans        &trans        &trans        &trans        &trans                          &kp C_PLAY_PAUSE      &kp C_NEXT  &trans                  &trans  &trans  &trans                      &trans        &trans        &trans        &trans  &trans
            >;
        };
    };
};
